
@{
    ViewBag.Title = "History";
}

<div class="mainTable">
    <h3>История переводов и пополнений</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>RUB</td>
            <td>USD</td>
            <td>EUR</td>
            <td>Карта или номер телефона</td>
            <td>Тип операции</td>
            <td>Дата</td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.TransferAndReplenishment)
        {
            <tr>
                <td>@b.Id</td>
                <td>@b.RUB</td>
                <td>@b.USD</td>
                <td>@b.EUR</td>
                <td>@b.NumberPhoneCard</td>
                <td>@b.FlagTR</td>
                <td>@b.Date</td>
            </tr>
        }
    </table>
</div>

<div class="mainTable">
    <h3>История покупки и продажи Акций</h3>
    <table>
        <tr>
            <td>Id</td>
            <td>Название</td>
            <td>Цена</td>
            <td>Количество акций</td>
            <td>Тип операции</td>
            <td>Дата</td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.HistoryShares)
        {
            <tr>
                <td>@b.Id</td>
                <td>@b.Name</td>
                <td>@b.Cost</td>
                <td>@b.QuantityLot</td>
                <td>@b.BuySell</td>
                <td>@b.Date</td>
            </tr>
        }
    </table>
</div>


